<div class="container">
  <form [formGroup] = "signupForm" enctype="multipart/form-data">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>fisrt name</label>
      <input type="text" formControlName = "name">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>email</label>
      <input type="text" formControlName = "email">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>password</label>
      <input type="text" formControlName = "password">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>profile</label>
      <input type="file" #myInput id="avatar" (change)="onFileChange($event)" multiple accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf">
    </div>
    
  </div>
  <div class="row">
    <button class="button" (click)="upload()">Signup</button>
  </div>
</form>
</div>
